<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
  <test name="Test">
  <classes>
      <class name="nexsales.SupervisorTest"/>
      <class name="nexsales.ProducerTest"/>
      <class name="nexsales.ConsumerTest"/>
    </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->